{% extends 'index.html' %}
{% block title %}Noticias SENAC - Noticia: {{ noticia.titulo }}{% endblock title %}
{% block content %}
<h1>Noticias SENAC</h1>
<h2>Noticia:</h2>
<div class="d-flex justify-content-end">
    <div class="btn-group">
        <a href="{% url 'atualizar_noticia' noticia.pk %}" class="btn btn-primary">Atualizar</a>
        <a href="{% url 'deletar_noticia' noticia.pk %}" class="btn btn-danger">Deletar</a>
    </div>
</div>
<div class="card mt-4">
    <div class="card-header">
        {{ noticia.titulo }}
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ noticia.conteudo }}</li>
            <li class="list-group-item">Autor: {{ noticia.autor }}</li>
            <li class="list-group-item">Publicação: {{ noticia.data_pub }}</li>
            <li class="list-group-item">
                {% if noticia.img  %}
                <img src="{{ noticia.img.url }}" />
                {% else %}
                Sem imagem.
                {% endif%}
            </li>
          </ul>
    </div>
</div>
{% endblock content %}