{% extends 'index.html' %}
{% block title %}Noticias SENAC - Noticias{% endblock title %}
{% block content %}
<h1>Noticias SENAC</h1>
<h2>Noticias:</h2>
<div class="d-flex justify-content-end">
    <a class="btn btn-primary" href="{% url 'cadastrar_noticia'%}" role="button">Cadastrar Noticia</a>
</div>
<ul class="list-group list-group-flush">
    {% for noticia in noticias %}
    <li class="list-group-item" ><a href="{% url 'detalhar_noticia' noticia.pk %}">{{ noticia.titulo }} - {{ noticia.autor }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}