<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias SENAC</title>
</head>
<body>
    <h1>Noticias SENAC</h1>
    <h2>Noticias:</h2>
    {{msg}}
    <ul>
        <li><a href="{% url 'cadastrar_noticia'%}">Cadastrar Noticia</a></li>
    </ul>

    <ul>
        {% for noticia in noticias %}
        <li><a href="{% url 'detalhar_noticia' noticia.pk %}">{{ noticia.titulo }} - {{ noticia.autor }}</a></li>
        {% endfor %}
    </ul>

</body>
</html>