{% extends 'index.html' %}
{% block title %}Noticias SENAC - Autor: {{ autor.nome }} {% endblock title %}
{% block content %}
<h1>Noticias SENAC</h1>
<h2>Autor:</h2>
<div class="d-flex justify-content-end">
<div class="btn-group">
    <a href="{% url 'atualizar_autor' autor.pk %}" class="btn btn-primary">Atualizar</a>
    <a href="{% url 'deletar_autor' autor.pk %}" class="btn btn-danger">Deletar</a>
</div>
</div>
<div class="card mt-4">
    <div class="card-header">
        {{ autor.nome }}
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">CPF: {{ autor.cpf }}</li>
            <li class="list-group-item">E-mail: {{ autor.email }}</li>
            <li class="list-group-item">Nascimento: {{ autor.data_nascimento }}</li>
          </ul>
    </div>
</div>
{% endblock content %}