<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias SENAC</title>
</head>
<body>
    <h1>Noticias SENAC</h1>
    <h2>Autor:</h2>
    <ul>
        <li><a href="{% url 'atualizar_autor' autor.pk %}">Atualizar</a></li>
        <li><a href="{% url 'deletar_autor' autor.pk %}">Deletar</a></li>
    </ul>

    <ul>
        <li>{{ autor.nome }}</li>
        <li>{{ autor.cpf }}</li>
        <li>{{ autor.email }}</li>
        <li>{{ autor.data_nascimento }}</li>
    </ul>

</body>
</html>