<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias SENAC</title>
</head>
<body>
    <h1>Noticias SENAC</h1>
    <h2>Autores:</h2>
    {{msg}}
    <ul>
        <li><a href="{% url 'cadastrar_autor'%}">Cadastrar Autor</a></li>
    </ul>

    <ul>
        {% for autor in autores %}
        <li><a href="{% url 'detalhar_autor' autor.pk %}">{{ autor.nome }} - {{ autor.email }}</a></li>
        {% endfor %}
    </ul>

</body>
</html>